[Desktop Entry]
Type=Action
Name[en_US]=CompressFiles
Name[en]=CompressFiles
Name[C]=CompressFiles
ToolbarLabel[en_US]=CompressFiles
ToolbarLabel[en]=CompressFiles
ToolbarLabel[C]=CompressFiles
TargetLocation=true
Profiles=profile-zero;

[X-Action-Profile profile-zero]
ExecutionMode=DisplayOutput
Exec=~/.local/share/nautilus/scripts/compress %f
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
